<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h2 style="margin-top: 20px; margin-bottom: 20px">입출금 내역</h2>
    <a href="#" th:href="@{/account/retrieve/{id} (id=${account_id})}" class="btn btn-primary" role="button">전체 내역</a>
    <a href="#" th:href="@{/account/retrieve/{id}/deposit (id=${account_id})}" class="btn btn-success" role="button">입금 내역</a>
    <a href="#" th:href="@{/account/retrieve/{id}/withdraw (id=${account_id})}" class="btn btn-danger" role="button">출금 내역</a>
    <div style="margin-top: 20px">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>날짜/시간</th>
                <th>입금 or 출금</th>
                <th>금액</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="remit : ${remitList}">
                <td th:text="${remit.date}"></td>
                <td th:text="${remit.type}"></td>
                <td th:text="${remit.money}"></td>
                <td th:text="${remit.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>